html,body { height: 100%; margin: 0px; padding: 0px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased; }
 body {
    overflow-x: auto;
    font-family: 'Open Sans', sans-serif;
 }

/* Toggle Styles */

#wrapperx, sectionx{
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper {
    padding-left: 0;
    height: 100%;
    min-height:800px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.05);
}
.section-view {
	width: 600px;
	height: 50vh;
}
#uppersection {
	background-color: rgba(250,0,0,0.05);
	min-height: 600px;

}
#lowersection {
	background-color: rgba(0,250,0,0.05);
	max-height: calc(100vh - 600px);
}

#menu-view {
	min-height: 50px;
	background-color: rgba(250,50,80,0.1);
}
#battle-view {
	min-height: 550px;
	height: calc(50vh - 50px);
	background-color: rgba(50,50,180,0.1);
}




#debug {
	position: fixed;
	bottom: 0;
	right: 0;
	text-align: right;
	font-size: 50%;
}

.view-header {
	width: 100%;
	height: 40px;
}

/* Battle View */
.battle-text {
	font-size: 10px;
}

.battle-teams {
	float: left;
	width: 276px;
    height: calc(100% - 40px - 24px); /* 40px is header and 24px from padding */
    padding: 12px;
}
.battle-teams:nth-last-child():after {
	clear: both;
}
#team1 {
	background-color: rgba(0,0,124,0.1);
}
#team2 {
	background-color: rgba(255,255,126,0.1);
}

.battle-unit {
	width: 86px;
	height: 136px;
	margin: 3px;
	float: left;
	overflow: hidden;
	/*box-shadow:  0 -22px 22px -22px rgba(0, 0, 0, 0.8) inset;*/
}
.battle-unit:hover {
	overflow: visible;
	box-shadow:  none;
}
#team1 .battle-unit {
	float: right;
	overflow: visible;
}
.battle-unit:nth-last-child():after {
	clear: both;
}

/*******************
	UNIT PROFILE
 *******************/
.unit-profile {
	border: solid 1px black;
	width: 84px;
	height: 84px;
	background-color: #fff;
}
.hidden {
	display: none;
}
.unit-lifebar {
	width: 100%;
	height: 16px;
	position: relative;
	text-align: center;
}
.unit-lifebar progress {
	width: calc(100% - 2px);
	height: calc(100% - 1px);
	margin: 1px 1px 0 1px;
	position: absolute;
	left: 0;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
	background-color: #5cb85c;
}
.unit-lifebar progress::-webkit-progress-bar { background-color: #eee; }
.unit-lifebar progress::-webkit-progress-value { background: #5cb85c; }
.unit-lifebar .lifebar-text {
	position: absolute;
	font-size: 10px;
	width: calc(100% - 2px);
	margin: 1px;
	bottom: 1px;
	margin: 0 auto;
}
.unit-vitals {
	width: 100%;
	height: 16px;
	text-align: center;
}
.unit-vitals table,
.unit-vitals table tr{
	width: 100%;
	height: 100%;
	border-spacing: 1px;
	border-collapse: separate;
}
.unit-vitals table tr td {
	background-color: rgba(100,100,100,0.1);
}
.unit-vitals table tr td.protected {
	background-color: #5bc0de;
}
.unit-vitals table tr td.open {
	background-color: #f0ad4e;
}
.unit-vitals table tr td.broken {
	background-color: #d9534f;
}
.unit-name {
	height: 18px;
	width: 100%;
	font-size: 12px;
	line-height: 18px;
    white-space: nowrap;
    font-weight: bold;
    display: block;
    text-align: center;
}
.char-name {
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
    background-color: #fff;
    padding: 0 3px;
}
.unit-weapons {
	width: calc(100% - 16px);
    padding: 0 8px;
    height: 34px;
    position: relative;
}
.unit-weapon {
	float: left;
	width: 32px;
	height: 32px;
	position: relative;
	background-color: rgba(100,100,100,0.1);
}
.weapon1 {
	margin-right: 4px;
}
.unit-weapon:nth-last-child():after {
	clear: both;
}
.twohanded {
	width: 68px;
}
/* Hand notice */
.unit-weapon:before {
	font-size: 8px;
	top: 8px;
    left: -8px;
    min-width: 8px;
    text-align: center;
    position: absolute;
    border: dashed 2px cornflowerblue;
    padding: 1px;
}
.weapon1:before {
	content: 'L';
}
.weapon2:before {
	content: 'R';
	left: inherit;
	right: -8px;
}
.twohanded:before {
	content: 'LR';
}
.twohanded + .weapon2 {
	display: none;
}
.non-equipped {
	visibility: hidden;
}
/*******************
	UNIT BUFFS
 *******************/
.unit-buffs {
	margin-top: 1px;
	width: 87px;
	position: relative;
	height: 87px;
}
.battle-unit:hover .unit-buffs {
	z-index: 88;
}
.buff {
	float: left;
	width: 26px;
	height: 26px;
	border: solid 1px black;
	margin: 0 1px 1px 0;
	background-color: #fff;
}
.buff:nth-last-child():after {
	clear: both;
}


/*******************
	SKILL LIST
 *******************/
#skill-view {
	background-color: #fff;
}
#skill-list-header {
	width: 100%;
	text-align: center;
}
#skill-list,
#skill-description {
	width: calc(100% - 8px);
	height: 80px;
	padding: 4px;
	position: relative;
	background-image: url('../assets/backgrounds/noise2.png'); 
	background-color: rgba(41, 57, 82,0.1);
}
#skill-description {
	height: auto;
	min-height: 400px;
}
#skill-list-header,
#skill-list {
	border-bottom: solid 1px #111;
}

/*******************
	SKILL
 *******************/
.skill,
#skill-icons .sicon {
	float: left;
	width: 30px;
    height: 30px;
    margin: 4px;
    background-position: center;
    background-repeat: no-repeat;
	-webkit-box-shadow: inset 0px 0px 3px 1px rgba(41, 57, 82,0.9);
	-moz-box-shadow: inset 0px 0px 3px 1px rgba(41, 57, 82,0.9);
	box-shadow: inset 0px 0px 3px 1px rgba(41, 57, 82,0.9);
}
#skill-icons .sicon.major {
	-webkit-box-shadow: inset 0px 0px 3px 1px rgba(52,152,219,0.9);
	-moz-box-shadow: inset 0px 0px 3px 1px rgba(52,152,219,0.9);
	box-shadow: inset 0px 0px 3px 1px rgba(52,152,219,0.9);
}
.skill:nth-last-child():after,
#sdescription-icons .sicon:nth-last-child():after {
	clear: both;
}
.skill:hover {
	cursor: pointer;
}
/*******************
	SKILL DESCRIPTION
 *******************/
#sdescription-icons {
 	width: 100%;
 	height: 40px;
 	/*border-bottom: solid 1px #111;*/
 }
.skillheader {
	width: auto;
	line-height: 32px;
	cursor:	default !important;
	font-weight: bold;
	box-shadow: none;
}
#sdescription-passive,
#sdescription-mastery {
	margin: 4px;
}
/* Skil description numbers */
.fulldmg {font-weight: bold;color:#8e44ad;}
.basedmg {font-weight: bold;color:#2c3e50;}
.attributesbuff {font-weight: bold;color:#2980b9;}
.dmgbuff {font-weight: bold;color:#d35400;}

/* Major / Minor / Nature */
.nature {
	
}
.major {
	
}
/* mastery score description */
.masterydesc {
	font-size: 12px;
}
.skilltobuff {
	font-weight: bold;
}
/* mastery buff unlocked */
.masterybuff {
	color: grey;
}
.mastered {
	color: #111;
	font-weight: bold;
}
.masterybuff, .mastered {
	font-size: 12px;
	font-family: 'Share Tech Mono', monospace;
}
.mastery-bar {
	width: 100%;
	height: 20px;
	position: relative;
	text-align: center;
}
.mastery-bar progress {
	width: calc(100% - 2px);
	height: calc(100% - 1px);
	margin: 1px 1px 0 1px;
	position: absolute;
	left: 0;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
	background-color: #7f8c8d;
	border: solid 3px rgba(0,0,40,0.5);
}
.mastery-bar progress[max="1000"] { background: #3498db; }
.mastery-bar progress::-webkit-progress-bar { background-color: #ccc; }
.mastery-bar progress::-webkit-progress-value { background: #7f8c8d; }
.mastery-bar progress[max="1000"]::-webkit-progress-value { background: #3498db; }
.mastery-bar .mastery-progression-text {
	position: absolute;
	font-size: 14px;
	width: calc(100% - 2px);
	margin: 1px;
	bottom: 1px;
	margin: 0 auto;
	color: #fff;
}